In [42]:
import numpy as np
import pandas as pd
u = np.array([1, 2, 3])
v = np.array([4, 5, 6])

In [7]:
v.shape

(3,)

In [41]:
arr = np.array([1,2,3])
arr2 = np.array([[4,5,6],[6,5,4],[8,1,5]])
np.linalg.det(arr2)

-109.99999999999994

In [59]:
male_df = pd.DataFrame([140, 145, 160, 190, 155, 165, 150, 190, 195, 138, 160, 155, 153, 145, 170, 175, 175, 170, 180, 135, 170, 157, 130, 185, 190, 155, 170, 155, 215, 150, 145, 155, 155, 150, 155, 150, 180, 160, 135, 160, 130, 155, 150, 148, 155, 150, 140, 180, 190, 145, 150, 164, 140, 142, 136, 123, 155],
    columns=['weight'])
male_df['sex'] = 'male'
female_df = pd.DataFrame([140, 120, 130, 138, 121, 116, 125, 145, 150, 112, 125, 130, 120, 130, 131, 120, 118, 125, 135, 125, 118, 122, 115, 102, 115, 150, 110, 116, 108, 95, 125, 133, 110, 150, 108],
    columns=['weight'])
female_df['sex'] = 'female'

weights_df = pd.concat([male_df, female_df])
weights_df.sample(10)

    weight     sex
37     160    male
6      125  female
44     155    male
11     130  female
45     150    male
47     180    male
18     180    male
33     150  female
33     150    male
34     108  female